<a href="https://colab.research.google.com/github/cacomixtl/olist-ecommerce-data-analysis/blob/main/Olist_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: mount drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import sqlite3
import pandas as pd

# 1. Define the path to your database file in Colab
# (This will be just the filename if you uploaded it directly to the root of session storage)
db_file_path = '/content/drive/MyDrive/Olist_Ecommerce/olist_project'

# 2. Create a database connection
try:
    conn = sqlite3.connect(db_file_path)
    print(f"Successfully connected to {db_file_path}")

    # Create a cursor object (optional for simple pd.read_sql_query)
    cur = conn.cursor()

    # 4. Write your SQL query
    # This is where you'll build the comprehensive query from Module 2
    # For now, let's test with a simple query:
    query = """
    -- Common Table Expression (CTE) to aggregate payment information per order
WITH OrderPaymentsAgg AS (
    SELECT
        op.order_id,
        SUM(op.payment_value) AS total_payment_value,
        -- Grouping payment types for an order.
        -- For SQLite, GROUP_CONCAT is available. For other SQL dialects, this might need adjustment (e.g., STRING_AGG).
        GROUP_CONCAT(DISTINCT op.payment_type) AS payment_types,
        SUM(CASE WHEN op.payment_type = 'credit_card' THEN op.payment_installments ELSE 0 END) AS total_credit_card_installments
    FROM order_payments op
    GROUP BY op.order_id
)
-- Main query to build the Analytical Base Table (ABT)
SELECT
    -- Order Information
    o.order_id,
    o.order_status,
    o.order_purchase_timestamp,
    o.order_approved_at,
    o.order_delivered_carrier_date,
    o.order_delivered_customer_date,
    o.order_estimated_delivery_date,

    -- Order Item Information
    oi.order_item_id, -- Sequence of item in an order
    oi.product_id,
    oi.seller_id,
    oi.shipping_limit_date,
    oi.price AS item_price,
    oi.freight_value AS item_freight_value,

    -- Product Information
    p.product_category_name AS product_category_name_portuguese,
    pcnt.product_category_name_english,
    p.product_weight_g,
    p.product_length_cm,
    p.product_height_cm,
    p.product_width_cm,

    -- Customer Information
    c.customer_unique_id, -- Use this for customer-level analysis (RFM, etc.)
    c.customer_zip_code_prefix,
    c.customer_city,
    c.customer_state,

    -- Seller Information
    s.seller_zip_code_prefix AS seller_zip_code_prefix,
    s.seller_city AS seller_city,
    s.seller_state AS seller_state,

    -- Aggregated Payment Information (from CTE)
    opa.total_payment_value,
    opa.payment_types,
    opa.total_credit_card_installments,

    -- Review Information
    r.review_score,
    r.review_comment_title, -- Included for potential qualitative insights later
    r.review_comment_message, -- Included for potential qualitative insights later
    r.review_creation_date,
    r.review_answer_timestamp

FROM orders o
INNER JOIN order_items oi
    ON o.order_id = oi.order_id
LEFT JOIN products p
    ON oi.product_id = p.product_id
LEFT JOIN product_name_translation pcnt
    ON p.product_category_name = pcnt.product_category_name
LEFT JOIN customers c
    ON o.customer_id = c.customer_id -- Note: o.customer_id links to a specific order's customer record
LEFT JOIN sellers s
    ON oi.seller_id = s.seller_id
LEFT JOIN OrderPaymentsAgg opa -- Joining the aggregated payment CTE
    ON o.order_id = opa.order_id
LEFT JOIN order_reviews r
    ON o.order_id = r.order_id     -- Assumes one main review per order for this join

-- Filtering for delivered orders, which are typically the focus of e-commerce analysis.
-- This can be removed or modified if other order statuses need to be analyzed.
WHERE
    o.order_status = 'delivered'
ORDER BY
    o.order_purchase_timestamp, -- Ordering by purchase time
    o.order_id,
    oi.order_item_id; -- Ensures a consistent order for the data

    """
    # Note: Adjust table and column names in the query above to EXACTLY match
    # how you defined them in your SQL SCHEMAS.sql and how they exist in your SQLite database.
    # For example, if your products table is named 'products', use 'products.product_id' etc.
    # I used 'prod' as an alias for 'products' in the join to avoid potential naming conflicts
    # if your actual table is 'products' and you also have a column named 'products' (unlikely but good practice).
    # Ensure your 'product_name_translation' table is correctly joined.

    # 5. Execute the query and load results into a Pandas DataFrame
    print("\nExecuting query...")
    df_main = pd.read_sql_query(query, conn)
    print("Query executed successfully.")

    # 6. Display the first few rows of the DataFrame
    print("\nFirst 5 rows of the resulting DataFrame:")
    print(df_main.head())

    print(f"\nShape of the DataFrame: {df_main.shape}")

except sqlite3.Error as e:
    print(f"SQLite error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")
finally:
    # 7. Close the connection
    if conn:
        conn.close()
        print("\nDatabase connection closed.")

Successfully connected to /content/drive/MyDrive/Olist_Ecommerce/olist_project

Executing query...
Query executed successfully.

First 5 rows of the resulting DataFrame:
                           order_id order_status order_purchase_timestamp  \
0  bfbd0f9bdef84302105ad712db648a6c    delivered      2016-09-15 12:16:38
1  bfbd0f9bdef84302105ad712db648a6c    delivered      2016-09-15 12:16:38
2  bfbd0f9bdef84302105ad712db648a6c    delivered      2016-09-15 12:16:38
3  3b697a20d9e427646d92567910af6d57    delivered      2016-10-03 09:44:50
4  be5bc2f0da14d8071e2d45451ad119d9    delivered      2016-10-03 16:56:50

     order_approved_at order_delivered_carrier_date  \
0  2016-09-15 12:16:38          2016-11-07 17:11:53
1  2016-09-15 12:16:38          2016-11-07 17:11:53
2  2016-09-15 12:16:38          2016-11-07 17:11:53
3  2016-10-06 15:50:54          2016-10-23 14:02:13
4  2016-10-06 16:03:44          2016-10-21 16:33:46

  order_delivered_customer_date order_estimated_delivery_date  order_item_id  \
0           2016-11-09 07:47:38           2016-10-04 00:00:00              1
1           2016-11-09 07:47:38           2016-10-04 00:00:00              2
2           2016-11-09 07:47:38           2016-10-04 00:00:00              3
3           2016-10-26 14:02:13           2016-10-27 00:00:00              1
4           2016-10-27 18:19:38           2016-11-07 00:00:00              1

                         product_id                         seller_id  ...  \
0  5a6b04657a4c5ee34285d1e4619a96b4  ecccfa2bb93b34a3bf033cc5d1dcdc69  ...
1  5a6b04657a4c5ee34285d1e4619a96b4  ecccfa2bb93b34a3bf033cc5d1dcdc69  ...
2  5a6b04657a4c5ee34285d1e4619a96b4  ecccfa2bb93b34a3bf033cc5d1dcdc69  ...
3  3ae08df6bcbfe23586dd431c40bddbb7  522620dcb18a6b31cd7bdf73665113a9  ...
4  fd7fd78fd3cbc1b0a6370a7909c0a629  f09b760d23495ac9a7e00d29b769007c  ...

  seller_city  seller_state  total_payment_value payment_types  \
0    curitiba            PR                  NaN          None
1    curitiba            PR                  NaN          None
2    curitiba            PR                  NaN          None
3    cascavel            PR                45.46        boleto
4   catanduva            SP                39.09        boleto

  total_credit_card_installments review_score review_comment_title  \
0                            NaN          1.0
1                            NaN          1.0
2                            NaN          1.0
3                            0.0          4.0
4                            0.0          4.0

                           review_comment_message review_creation_date  \
0  nao recebi o produto e nem resposta da empresa  2016-10-06 00:00:00
1  nao recebi o produto e nem resposta da empresa  2016-10-06 00:00:00
2  nao recebi o produto e nem resposta da empresa  2016-10-06 00:00:00
3              Facilidade em manusear o aparelho.  2016-10-26 00:00:00
4                                   Tudo certo...  2016-10-28 00:00:00

  review_answer_timestamp
0     2016-10-07 18:32:28
1     2016-10-07 18:32:28
2     2016-10-07 18:32:28
3     2016-10-30 21:32:15
4     2016-10-29 11:29:53

[5 rows x 34 columns]

Shape of the DataFrame: (110493, 34)

Database connection closed.

In [3]:
print("DataFrame Info:")
df_main.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110493 entries, 0 to 110492
Data columns (total 34 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   order_id                          110493 non-null  object
 1   order_status                      110493 non-null  object
 2   order_purchase_timestamp          110493 non-null  object
 3   order_approved_at                 110493 non-null  object
 4   order_delivered_carrier_date      110493 non-null  object
 5   order_delivered_customer_date     110493 non-null  object
 6   order_estimated_delivery_date     110493 non-null  object
 7   order_item_id                     110493 non-null  int64
 8   product_id                        110493 non-null  object
 9   seller_id                         110493 non-null  object
 10  shipping_limit_date               110493 non-null  object
 11  item_price                        110493 non-null  float64
 12  item_freight_value                110493 non-null  float64
 13  product_category_name_portuguese  110493 non-null  object
 14  product_category_name_english     108928 non-null  object
 15  product_weight_g                  110493 non-null  object
 16  product_length_cm                 110493 non-null  object
 17  product_height_cm                 110493 non-null  object
 18  product_width_cm                  110493 non-null  object
 19  customer_unique_id                110493 non-null  object
 20  customer_zip_code_prefix          110493 non-null  int64
 21  customer_city                     110493 non-null  object
 22  customer_state                    110493 non-null  object
 23  seller_zip_code_prefix            110493 non-null  int64
 24  seller_city                       110493 non-null  object
 25  seller_state                      110493 non-null  object
 26  total_payment_value               110490 non-null  float64
 27  payment_types                     110490 non-null  object
 28  total_credit_card_installments    110490 non-null  float64
 29  review_score                      109133 non-null  float64
 30  review_comment_title              109133 non-null  object
 31  review_comment_message            109133 non-null  object
 32  review_creation_date              109133 non-null  object
 33  review_answer_timestamp           109133 non-null  object
dtypes: float64(5), int64(3), object(26)
memory usage: 28.7+ MB

Data type correction

In [4]:
print("Converting timestamp columns to datetime...")
timestamp_cols = [
    'order_purchase_timestamp', 'order_approved_at',
    'order_delivered_carrier_date', 'order_delivered_customer_date',
    'order_estimated_delivery_date', 'shipping_limit_date',
    'review_creation_date', 'review_answer_timestamp'
]
for col in timestamp_cols:
    df_main[col] = pd.to_datetime(df_main[col], errors='coerce')
print("Timestamp conversion done.")
# Verify:
# print(df_main[timestamp_cols].info())
# print(df_main[timestamp_cols].isnull().sum()) # Check for new NaTs

Converting timestamp columns to datetime...
Timestamp conversion done.

In [5]:
print("\nConverting product dimension columns to numeric...")
product_dimension_cols = [
    'product_weight_g', 'product_length_cm',
    'product_height_cm', 'product_width_cm'
]
for col in product_dimension_cols:
    df_main[col] = pd.to_numeric(df_main[col], errors='coerce')
    # Consider converting to integer if appropriate after checking for decimals
    # For now, float64 (default for to_numeric) is fine.
print("Product dimension conversion done.")
# Verify:
# print(df_main[product_dimension_cols].info())
# print(df_main[product_dimension_cols].isnull().sum()) # Check for NaNs if conversion failed for some rows

Converting product dimension columns to numeric...
Product dimension conversion done.

In [6]:
print("\nConverting zip code columns to string...")
zip_code_cols = ['customer_zip_code_prefix', 'seller_zip_code_prefix']
for col in zip_code_cols:
    df_main[col] = df_main[col].astype(str)
print("Zip code conversion done.")
# Verify:
# print(df_main[zip_code_cols].info())

Converting zip code columns to string...
Zip code conversion done.

In [7]:
print(f"\nShape before dropping payment NaNs: {df_main.shape}")
df_main.dropna(subset=['total_payment_value'], inplace=True) # This will drop rows where any of these are NaN if they are the same 3 rows
print(f"Shape after dropping payment NaNs: {df_main.shape}")

Shape before dropping payment NaNs: (110493, 34)
Shape after dropping payment NaNs: (110490, 34)

In [10]:
print("\nConverting 'total_credit_card_installments' to integer...")
df_main['total_credit_card_installments'] = df_main['total_credit_card_installments'].astype('int64')
print("'total_credit_card_installments' conversion done.")
# Verify:
#print(df_main[['total_credit_card_installments']].info())

Converting 'total_credit_card_installments' to integer...
'total_credit_card_installments' conversion done.

Data imputation

In [14]:
print("\nImputing missing 'product_category_name_english'...")
df_main['product_category_name_english'].fillna('Unknown Category', inplace=True)
print("'product_category_name_english' imputation done.")
# Verify:
print(df_main['product_category_name_english'].isnull().sum())

Imputing missing 'product_category_name_english'...
'product_category_name_english' imputation done.
0

In [15]:
print("\nImputing missing review text fields...")
df_main['review_comment_title'].fillna('No Title Provided', inplace=True)
df_main['review_comment_message'].fillna('No Comment Provided', inplace=True)
print("Review text fields imputation done.")
# Verify:
print(df_main[['review_comment_title', 'review_comment_message']].isnull().sum())

Imputing missing review text fields...
Review text fields imputation done.
review_comment_title      0
review_comment_message    0
dtype: int64

Duplication check

In [16]:
print(f"\nNumber of full duplicate rows: {df_main.duplicated().sum()}")
if df_main.duplicated().sum() > 0:
    df_main.drop_duplicates(inplace=True)
    print(f"Dropped duplicate rows. New shape: {df_main.shape}")

Number of full duplicate rows: 0

Data type validation

In [17]:
print("DataFrame Info:")
df_main.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 110490 entries, 3 to 110492
Data columns (total 34 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   order_id                          110490 non-null  object
 1   order_status                      110490 non-null  object
 2   order_purchase_timestamp          110490 non-null  datetime64[ns]
 3   order_approved_at                 110475 non-null  datetime64[ns]
 4   order_delivered_carrier_date      110488 non-null  datetime64[ns]
 5   order_delivered_customer_date     110482 non-null  datetime64[ns]
 6   order_estimated_delivery_date     110490 non-null  datetime64[ns]
 7   order_item_id                     110490 non-null  int64
 8   product_id                        110490 non-null  object
 9   seller_id                         110490 non-null  object
 10  shipping_limit_date               110490 non-null  datetime64[ns]
 11  item_price                        110490 non-null  float64
 12  item_freight_value                110490 non-null  float64
 13  product_category_name_portuguese  110490 non-null  object
 14  product_category_name_english     110490 non-null  object
 15  product_weight_g                  110472 non-null  float64
 16  product_length_cm                 110472 non-null  float64
 17  product_height_cm                 110472 non-null  float64
 18  product_width_cm                  110472 non-null  float64
 19  customer_unique_id                110490 non-null  object
 20  customer_zip_code_prefix          110490 non-null  object
 21  customer_city                     110490 non-null  object
 22  customer_state                    110490 non-null  object
 23  seller_zip_code_prefix            110490 non-null  object
 24  seller_city                       110490 non-null  object
 25  seller_state                      110490 non-null  object
 26  total_payment_value               110490 non-null  float64
 27  payment_types                     110490 non-null  object
 28  total_credit_card_installments    110490 non-null  int64
 29  review_score                      109130 non-null  float64
 30  review_comment_title              110490 non-null  object
 31  review_comment_message            110490 non-null  object
 32  review_creation_date              109130 non-null  datetime64[ns]
 33  review_answer_timestamp           109130 non-null  datetime64[ns]
dtypes: datetime64[ns](8), float64(8), int64(2), object(16)
memory usage: 29.5+ MB

In [18]:
print("\nDescriptive Statistics (Numerical):")
print(df_main.describe())

Descriptive Statistics (Numerical):
            order_purchase_timestamp              order_approved_at  \
count                         110490                         110475
mean   2018-01-01 22:49:30.717060608  2018-01-02 10:23:17.652138240
min              2016-10-03 09:44:50            2016-10-04 09:43:32
25%    2017-09-14 21:55:54.249999872            2017-09-15 11:30:03
50%       2018-01-20 21:21:11.500000            2018-01-22 13:52:06
75%              2018-05-05 11:09:04     2018-05-05 17:55:13.500000
max              2018-08-29 15:00:37            2018-08-29 15:10:26
std                              NaN                            NaN

        order_delivered_carrier_date  order_delivered_customer_date  \
count                         110488                         110482
mean   2018-01-05 05:41:37.502316800  2018-01-14 10:01:45.804936704
min              2016-10-08 10:34:01            2016-10-11 13:46:32
25%       2017-09-18 21:27:25.500000     2017-09-26 19:27:08.500000
50%       2018-01-24 18:02:43.500000     2018-02-02 19:55:45.500000
75%              2018-05-08 13:58:00  2018-05-15 19:06:37.750000128
max              2018-09-11 19:48:28            2018-10-17 13:22:46
std                              NaN                            NaN

       order_estimated_delivery_date  order_item_id  \
count                         110490  110490.000000
mean   2018-01-25 18:13:56.318218752       1.198778
min              2016-10-27 00:00:00       1.000000
25%              2017-10-06 00:00:00       1.000000
50%              2018-02-16 00:00:00       1.000000
75%              2018-05-28 00:00:00       1.000000
max              2018-10-25 00:00:00      21.000000
std                              NaN       0.708837

                 shipping_limit_date     item_price  item_freight_value  \
count                         110490  110490.000000       110490.000000
mean   2018-01-08 13:23:42.701312256     119.904586           19.943890
min              2016-10-08 10:34:01       0.850000            0.000000
25%    2017-09-21 12:51:44.249999872      39.900000           13.080000
50%              2018-01-26 17:54:40      74.900000           16.250000
75%              2018-05-10 18:15:18     134.000000           21.150000
max              2020-04-09 22:35:08    6735.000000          409.680000
std                              NaN     182.158137           15.687569

       product_weight_g  product_length_cm  product_height_cm  \
count     110472.000000      110472.000000      110472.000000
mean        2089.266457          30.149640          16.551452
min            0.000000           7.000000           2.000000
25%          300.000000          18.000000           8.000000
50%          700.000000          25.000000          13.000000
75%         1800.000000          38.000000          20.000000
max        40425.000000         105.000000         105.000000
std         3741.377808          16.119981          13.408387

       product_width_cm  total_payment_value  total_credit_card_installments  \
count     110472.000000        110490.000000                   110490.000000
mean          22.990939           179.478066                        2.795448
min            6.000000             9.590000                        0.000000
25%           15.000000            65.600000                        1.000000
50%           20.000000           114.330000                        2.000000
75%           30.000000           194.957500                        4.000000
max          118.000000         13664.080000                       24.000000
std           11.686320           271.189699                        3.015564

        review_score           review_creation_date  \
count  109130.000000                         109130
mean        4.083552  2018-01-14 14:29:11.639329024
min         1.000000            2016-10-15 00:00:00
25%         4.000000            2017-09-27 00:00:00
50%         5.000000            2018-02-03 00:00:00
75%         5.000000            2018-05-16 00:00:00
max         5.000000            2018-08-31 00:00:00
std         1.345916                            NaN

             review_answer_timestamp
count                         109130
mean   2018-01-17 17:56:41.484055808
min              2016-10-16 03:20:17
25%    2017-09-30 16:45:37.249999872
50%       2018-02-06 22:46:45.500000
75%              2018-05-20 16:11:21
max              2018-10-29 12:27:35
std                              NaN

In [ ]:
print("\nDescriptive Statistics (Object/Categorical):")
print(df_main.describe(include=['object', 'category']))

Descriptive Statistics (Object/Categorical):
                                order_id order_status  \
count                             110493       110493
unique                             96478            1
top     5a3b1c29a49756e75f1ef513383c0c12    delivered
freq                                  22       110493

       order_purchase_timestamp    order_approved_at  \
count                    110493               110493
unique                    95956                88275
top         2017-10-17 13:06:29  2018-02-24 03:20:27
freq                         22                   23

       order_delivered_carrier_date order_delivered_customer_date  \
count                        110493                        110493
unique                        80107                         95659
top             2018-05-09 15:48:00           2017-10-22 14:43:54
freq                             48                            22

       order_estimated_delivery_date                        product_id  \
count                         110493                            110493
unique                           445                             32216
top              2017-12-20 00:00:00  aca2eb7d00ea1a7b8ebd4e68314663af
freq                             597                               520

                               seller_id  shipping_limit_date  ...  \
count                             110493               110493  ...
unique                              2970                91344  ...
top     6560211a19b47992c3666cc44a7e94c0  2017-10-24 13:06:21  ...
freq                                1999                   22  ...

                      customer_unique_id customer_city  customer_state  \
count                             110493        110493          110493
unique                             93358          4085              27
top     d97b3cfb22b0d6b25ac9ed4e9c2d481b     sao paulo              SP
freq                                  24         17462           46584

        seller_city  seller_state  payment_types review_comment_title  \
count        110493        110493         110490               109133
unique          595            22              6                 4363
top       sao paulo            SP    credit_card
freq          27398         78821          82345                96045

       review_comment_message review_creation_date review_answer_timestamp
count                  109133               109133                  109133
unique                  34420                  627                   95455
top                            2018-05-15 00:00:00     2017-07-30 14:19:07
freq                    63337                  507                      21

[4 rows x 26 columns]

In [ ]:
print("\nMissing Values per Column:")
print(df_main.isnull().sum())

print("\nPercentage of Missing Values per Column:")
print((df_main.isnull().sum() / len(df_main)) * 100)

Missing Values per Column:
order_id                               0
order_status                           0
order_purchase_timestamp               0
order_approved_at                      0
order_delivered_carrier_date           0
order_delivered_customer_date          0
order_estimated_delivery_date          0
order_item_id                          0
product_id                             0
seller_id                              0
shipping_limit_date                    0
item_price                             0
item_freight_value                     0
product_category_name_portuguese       0
product_category_name_english       1565
product_weight_g                       0
product_length_cm                      0
product_height_cm                      0
product_width_cm                       0
customer_unique_id                     0
customer_zip_code_prefix               0
customer_city                          0
customer_state                         0
seller_zip_code_prefix                 0
seller_city                            0
seller_state                           0
total_payment_value                    3
payment_types                          3
total_credit_card_installments         3
review_score                        1360
review_comment_title                1360
review_comment_message              1360
review_creation_date                1360
review_answer_timestamp             1360
dtype: int64

Percentage of Missing Values per Column:
order_id                            0.000000
order_status                        0.000000
order_purchase_timestamp            0.000000
order_approved_at                   0.000000
order_delivered_carrier_date        0.000000
order_delivered_customer_date       0.000000
order_estimated_delivery_date       0.000000
order_item_id                       0.000000
product_id                          0.000000
seller_id                           0.000000
shipping_limit_date                 0.000000
item_price                          0.000000
item_freight_value                  0.000000
product_category_name_portuguese    0.000000
product_category_name_english       1.416379
product_weight_g                    0.000000
product_length_cm                   0.000000
product_height_cm                   0.000000
product_width_cm                    0.000000
customer_unique_id                  0.000000
customer_zip_code_prefix            0.000000
customer_city                       0.000000
customer_state                      0.000000
seller_zip_code_prefix              0.000000
seller_city                         0.000000
seller_state                        0.000000
total_payment_value                 0.002715
payment_types                       0.002715
total_credit_card_installments      0.002715
review_score                        1.230847
review_comment_title                1.230847
review_comment_message              1.230847
review_creation_date                1.230847
review_answer_timestamp             1.230847
dtype: float64

In [ ]:
print("\nFirst few rows:")
print(df_main.head())

print("\nLast few rows:")
print(df_main.tail())

print("\nRandom sample of rows:")
print(df_main.sample(5))

First few rows:
                           order_id order_status order_purchase_timestamp  \
0  bfbd0f9bdef84302105ad712db648a6c    delivered      2016-09-15 12:16:38
1  bfbd0f9bdef84302105ad712db648a6c    delivered      2016-09-15 12:16:38
2  bfbd0f9bdef84302105ad712db648a6c    delivered      2016-09-15 12:16:38
3  3b697a20d9e427646d92567910af6d57    delivered      2016-10-03 09:44:50
4  be5bc2f0da14d8071e2d45451ad119d9    delivered      2016-10-03 16:56:50

     order_approved_at order_delivered_carrier_date  \
0  2016-09-15 12:16:38          2016-11-07 17:11:53
1  2016-09-15 12:16:38          2016-11-07 17:11:53
2  2016-09-15 12:16:38          2016-11-07 17:11:53
3  2016-10-06 15:50:54          2016-10-23 14:02:13
4  2016-10-06 16:03:44          2016-10-21 16:33:46

  order_delivered_customer_date order_estimated_delivery_date  order_item_id  \
0           2016-11-09 07:47:38           2016-10-04 00:00:00              1
1           2016-11-09 07:47:38           2016-10-04 00:00:00              2
2           2016-11-09 07:47:38           2016-10-04 00:00:00              3
3           2016-10-26 14:02:13           2016-10-27 00:00:00              1
4           2016-10-27 18:19:38           2016-11-07 00:00:00              1

                         product_id                         seller_id  ...  \
0  5a6b04657a4c5ee34285d1e4619a96b4  ecccfa2bb93b34a3bf033cc5d1dcdc69  ...
1  5a6b04657a4c5ee34285d1e4619a96b4  ecccfa2bb93b34a3bf033cc5d1dcdc69  ...
2  5a6b04657a4c5ee34285d1e4619a96b4  ecccfa2bb93b34a3bf033cc5d1dcdc69  ...
3  3ae08df6bcbfe23586dd431c40bddbb7  522620dcb18a6b31cd7bdf73665113a9  ...
4  fd7fd78fd3cbc1b0a6370a7909c0a629  f09b760d23495ac9a7e00d29b769007c  ...

  seller_city  seller_state  total_payment_value payment_types  \
0    curitiba            PR                  NaN          None
1    curitiba            PR                  NaN          None
2    curitiba            PR                  NaN          None
3    cascavel            PR                45.46        boleto
4   catanduva            SP                39.09        boleto

  total_credit_card_installments review_score review_comment_title  \
0                            NaN          1.0
1                            NaN          1.0
2                            NaN          1.0
3                            0.0          4.0
4                            0.0          4.0

                           review_comment_message review_creation_date  \
0  nao recebi o produto e nem resposta da empresa  2016-10-06 00:00:00
1  nao recebi o produto e nem resposta da empresa  2016-10-06 00:00:00
2  nao recebi o produto e nem resposta da empresa  2016-10-06 00:00:00
3              Facilidade em manusear o aparelho.  2016-10-26 00:00:00
4                                   Tudo certo...  2016-10-28 00:00:00

  review_answer_timestamp
0     2016-10-07 18:32:28
1     2016-10-07 18:32:28
2     2016-10-07 18:32:28
3     2016-10-30 21:32:15
4     2016-10-29 11:29:53

[5 rows x 34 columns]

Last few rows:
                                order_id order_status  \
110488  0b223d92c27432930dfe407c6aea3041    delivered
110489  0b223d92c27432930dfe407c6aea3041    delivered
110490  168626408cb32af0ffaf76711caae1dc    delivered
110491  03ef5dedbe7492bdae72eec50764c43f    delivered
110492  35a972d7f8436f405b56e36add1a7140    delivered

       order_purchase_timestamp    order_approved_at  \
110488      2018-08-29 14:18:23  2018-08-29 14:31:07
110489      2018-08-29 14:18:23  2018-08-29 14:31:07
110490      2018-08-29 14:18:28  2018-08-29 14:30:23
110491      2018-08-29 14:52:00  2018-08-29 15:05:22
110492      2018-08-29 15:00:37  2018-08-29 15:10:26

       order_delivered_carrier_date order_delivered_customer_date  \
110488          2018-08-29 15:29:00           2018-08-30 16:24:55
110489          2018-08-29 15:29:00           2018-08-30 16:24:55
110490          2018-08-29 18:51:00           2018-08-30 16:52:31
110491          2018-08-29 20:01:00           2018-08-30 16:36:59
110492          2018-08-29 16:57:00           2018-08-30 16:23:36

       order_estimated_delivery_date  order_item_id  \
110488           2018-09-04 00:00:00              1
110489           2018-09-04 00:00:00              2
110490           2018-09-11 00:00:00              1
110491           2018-09-03 00:00:00              1
110492           2018-09-05 00:00:00              1

                              product_id                         seller_id  \
110488  2b4472df15512a2825ae86fd9ae79335  67bf6941ba2f1fa1d02c375766bc3e53
110489  2b4472df15512a2825ae86fd9ae79335  67bf6941ba2f1fa1d02c375766bc3e53
110490  bdcf6a834e8faa30dac3886c7a58e92e  2a84855fd20af891be03bc5924d2b453
110491  c7f27c5bef2338541c772b5776403e6a  7d7866a99a8656a42c7ff6352a433410
110492  d04857e7b4b708ee8b8b9921163edba3  9f505651f4a6abe901a56cdc21508025

        ...     seller_city  seller_state  total_payment_value payment_types  \
110488  ...        curitiba            PR               510.96   credit_card
110489  ...        curitiba            PR               510.96   credit_card
110490  ...  belo horizonte            MG                61.29       voucher
110491  ...       sao paulo            SP                33.23   credit_card
110492  ...       sao paulo            SP                93.75   credit_card

       total_credit_card_installments review_score      review_comment_title  \
110488                            8.0          5.0
110489                            8.0          5.0
110490                            0.0          5.0  Chegou rápido e correto
110491                            1.0          3.0                 Recomendo
110492                            1.0          5.0

       review_comment_message review_creation_date review_answer_timestamp
110488                         2018-08-31 00:00:00     2018-10-24 16:27:36
110489                         2018-08-31 00:00:00     2018-10-24 16:27:36
110490             Recomendo   2018-08-31 00:00:00     2018-09-02 20:55:45
110491                         2018-08-31 00:00:00     2018-08-31 20:02:48
110492                         2018-08-31 00:00:00     2018-09-09 16:49:27

[5 rows x 34 columns]

Random sample of rows:
                               order_id order_status order_purchase_timestamp  \
12501  44653f1f97b2b55f4f96313c3ac8c5c0    delivered      2017-05-31 12:26:02
37871  de8ff53ccb831c621c49cdfb8953fd9a    delivered      2017-11-15 10:21:16
82877  f07d68bd43db49d20192ee3036b2cf01    delivered      2018-05-05 11:54:12
89883  62adfd8a504d828f9dc9c184f2a236b8    delivered      2018-06-03 19:44:12
62538  63778352553a1b42b2990ec27ef28f9d    delivered      2018-02-18 16:34:42

         order_approved_at order_delivered_carrier_date  \
12501  2017-05-31 13:10:25          2017-06-01 10:50:09
37871  2017-11-15 10:30:30          2017-11-16 16:39:07
82877  2018-05-05 12:13:28          2018-05-10 14:26:00
89883  2018-06-03 19:55:21          2018-06-04 15:30:00
62538  2018-02-20 07:27:32          2018-02-20 19:04:19

      order_delivered_customer_date order_estimated_delivery_date  \
12501           2017-06-06 15:16:10           2017-06-27 00:00:00
37871           2017-11-17 21:42:55           2017-11-29 00:00:00
82877           2018-05-22 19:22:24           2018-06-04 00:00:00
89883           2018-06-07 22:48:37           2018-07-11 00:00:00
62538           2018-02-28 20:16:48           2018-03-13 00:00:00

       order_item_id                        product_id  \
12501              1  29427de7f8a9ee983d9dbc51cec569b4
37871              2  b01d34f6d2545269d348181768eca049
82877              1  19c91ef95d509ea33eda93495c4d3481
89883              1  f3bbbaabf3ce091b88d2511c1a29796c
62538              2  29f44bef673bbef52b8c43bd2fe3242f

                              seller_id  ... seller_city  seller_state  \
12501  7a67c85e85bb2ce8582c35f2203ad736  ...   sao paulo            SP
37871  6560211a19b47992c3666cc44a7e94c0  ...   sao paulo            SP
82877  06a2c3af7b3aee5d69171b0e14f0ee87  ...    sao luis            MA
89883  aac29b1b99776be73c3049939652091d  ...  uberlandia            MG
62538  5debea795b07621e1f90532e18f96145  ...   apucarana            PR

       total_payment_value payment_types total_credit_card_installments  \
12501               117.94   credit_card                            5.0
37871               221.92   credit_card                            4.0
82877               149.86   credit_card                           10.0
89883                45.22   credit_card                            4.0
62538                74.96        boleto                            0.0

      review_score review_comment_title  \
12501          5.0
37871          2.0
82877          4.0
89883          4.0
62538          3.0

                                  review_comment_message review_creation_date  \
12501  Tanto vendedor como loja, excelentes, gosto mu...  2017-06-07 00:00:00
37871  Eu so recebi um relógio o do mickei...Pensei q...  2017-11-18 00:00:00
82877                                                     2018-05-23 00:00:00
89883                                                     2018-06-09 00:00:00
62538  Regular porque eu comprei 2 tubos e paguei , e...  2018-03-01 00:00:00

      review_answer_timestamp
12501     2017-06-07 16:08:51
37871     2017-11-19 12:30:35
82877     2018-05-24 16:28:49
89883     2018-06-11 23:08:01
62538     2018-03-01 23:31:23

[5 rows x 34 columns]

The following cell will drop all the rows with missing values.

In [ ]:
df_main_cleaned = df_main.dropna(subset=[
    'product_category_name_english',
    'total_payment_value',
    'payment_types',
    'total_credit_card_installments',
    'review_score',
    'review_comment_title',
    'review_comment_message',
    'review_creation_date',
    'review_answer_timestamp'], inplace=False)

Let's see how it changes

In [ ]:
print("\nMissing Values per Column:")
print(df_main_cleaned.isnull().sum())

print("\nPercentage of Missing Values per Column:")
print((df_main_cleaned.isnull().sum() / len(df_main)) * 100)

Missing Values per Column:
order_id                            0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date        0
order_delivered_customer_date       0
order_estimated_delivery_date       0
order_item_id                       0
product_id                          0
seller_id                           0
shipping_limit_date                 0
item_price                          0
item_freight_value                  0
product_category_name_portuguese    0
product_category_name_english       0
product_weight_g                    0
product_length_cm                   0
product_height_cm                   0
product_width_cm                    0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
seller_zip_code_prefix              0
seller_city                         0
seller_state                        0
total_payment_value                 0
payment_types                       0
total_credit_card_installments      0
review_score                        0
review_comment_title                0
review_comment_message              0
review_creation_date                0
review_answer_timestamp             0
dtype: int64

Percentage of Missing Values per Column:
order_id                            0.0
order_status                        0.0
order_purchase_timestamp            0.0
order_approved_at                   0.0
order_delivered_carrier_date        0.0
order_delivered_customer_date       0.0
order_estimated_delivery_date       0.0
order_item_id                       0.0
product_id                          0.0
seller_id                           0.0
shipping_limit_date                 0.0
item_price                          0.0
item_freight_value                  0.0
product_category_name_portuguese    0.0
product_category_name_english       0.0
product_weight_g                    0.0
product_length_cm                   0.0
product_height_cm                   0.0
product_width_cm                    0.0
customer_unique_id                  0.0
customer_zip_code_prefix            0.0
customer_city                       0.0
customer_state                      0.0
seller_zip_code_prefix              0.0
seller_city                         0.0
seller_state                        0.0
total_payment_value                 0.0
payment_types                       0.0
total_credit_card_installments      0.0
review_score                        0.0
review_comment_title                0.0
review_comment_message              0.0
review_creation_date                0.0
review_answer_timestamp             0.0
dtype: float64

Correcting the data type on intended timestamps

In [ ]:
timestamp_cols = [
    'order_purchase_timestamp', 'order_approved_at',
    'order_delivered_carrier_date', 'order_delivered_customer_date',
    'order_estimated_delivery_date', 'shipping_limit_date',
    'review_creation_date', 'review_answer_timestamp'
]
for col in timestamp_cols:
    df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)

<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)
<ipython-input-23-656be8b0f0b7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main_cleaned[col] = pd.to_datetime(df_main_cleaned[col], errors='coerce') # errors='coerce' will turn unparseable dates into NaT (Not a Time)